body {
  max-width: 100%;
  background-color: rgb(43, 43, 43);
}

#playing-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  height: 150px;
  width: 100%;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 10px;
  width: 90px;
  background-color: white;
  padding: 0 4px;
  transition: transform .10s;
}

.card:hover {
  transform: scale(1.1);
}
.black{
  color: black;
  border: 1px solid black;
}
.red {
  color: red;
  border: 1px solid red;
}
.black:active {
  background-color: black;
}
.red:active{
  background-color: red;
}
.left {
  align-self: flex-start;
}

.middle {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.right {
  align-self: flex-end;
}
p {
  font-weight: bold;
}
.big {
  font-size: 2rem;
}
